body{
    background-color: #333;
      background-color: aqua;
    border-radius: 50%;
    transition: transform 1.5s linear;
}

div:hover{
    transform: translateX(200px);
    transition: transform 1s linear;
}