button{
    width: 100px;
    height: 30px;
    background-color: aqua;
}

.better{
    will-change: transform;
    transition: transform 500ms;

}

.better:hover{
    transform: translateY(5px);
}

.worst{
    will-change: margin-top;
    transition: margin-top 500ms liena;
}

.worst:hover{
    margin-top: 5px;
}