
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C ;
    --warm-black2:#282623 ;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
    font-family: "Dm Sans", sans-serif;
}

li{
    list-style: none;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

.header__title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button{
    position: relative;
    top: 60px;
    padding: 15px;
    width: 229px;
    height: 28px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black2);
}

.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    background-image: url("assets/icons/down-arrow.svg");
}

main{
    min-width: 320px;
}
.section1-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1-container__title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    color: var(--warm-black);
    margin-top: 30px;
}

.section1-container__title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 14px;
    color: #757575;
    margin-top: 20px;
}

.section1-container__title h3{
    position: relative;
    right: 44px;
    margin-top: 50px;
    color:#FF9536 ;
    font-weight: bold;
    font-size: 1.8rem;

}



.section1-container__nombres{
    font-size: 1.6rem;
    margin-right: 60px;
}

.section1-container__valores{
    font-size: 1.6rem;
}

.section1-container__nombres li, .section1-container__valores li{
    font-size: 1.6rem;
    padding: 9px 0;
}

.section1-container__actualizacion{
    padding: 11px;
    border-radius: 10px;
    background-color:var(--soft-orange) ;
    margin-bottom: 60px;
}

.section1-container__actualizacion p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.section1-container__actualizacion p span{
    font-weight: 200;
}

.section1-container__valores span{
    width: 20px;
    height: 20px;
    padding-left: 14px;
    background-image: url("/assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.section2-container{
    background-color: var(--warm-black);
    height: 1000px;
}

.section2-container__title{
    text-align: center;

}

.section2-container__title h2{
    padding: 0 20px;
    padding-top: 60px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.section2-container__title p{
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    color: #808080;
}

.cards-container{
    margin-top: 36px;
}

.cards-container .card{
    margin: auto;
    height: 152px;
    width: 288px;
    border-radius: 4px;
    margin-bottom: 18px;
    background-color: var(--warm-black2);
}
.card h4{
    color: var(--just-white);
    font-size: 1.8rem;
    font-weight: bold;
}
.card p{
    color: #808080;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
}

.section1-container__criptos{
    margin: 30px 0;
    display: flex;
    text-align: start;
}