  .container{
        width: 1800px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .c1{
        width: 100%;
        
    }
    .c2{
        width: 100%;
    }
    .c3, .c4{
        width: 33%;
        
    }
    .c5{
        width: 34%;
    }